# Directories
.circleci
.github
.nyc_output
src

# Files
.cspell.json
.editorconfig
.eslintignore
.eslintrc.json
.gitignore
.prettierignore
.prettierrc
jest.config.json
tsconfig.json
tsconfig.production.json

*.log
*.tgz